# Node.js
node_modules/
.env
npm-debug.log
yarn-debug.log

# Ignore node_modules in assignment-1/assignment1/
assignment-1/assignment1/node_modules/

# Ignore node_modules in assignment-1/backend/
assignment-1/backend/node_modules/

# Ignore all node_modules directories in any subdirectory
**/node_modules/

# Ignore .env file in assignment-1/backend/
assignment-1/backend/.env

# Ignore all .env files in any subdirectory
**/.env


# macOS
.DS_Store

# Windows
Thumbs.db
